name: Release Please

on:
  push:
    branches:
      - develop

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: simple
          package-name: "klocadrian/zenith-erp"
          changelog-path: CHANGELOG.md
          bump-minor-pre-major: true
          bump-patch-for-minor-pre-major: true
